body {
  background-color: #132f6c;
  margin: 0;
}

header {
  background-image: url("../Imagenes_generales/Fondo_Menu3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-size: 994px 100px;
  margin: auto;
  width: 994px;
  height: 100px;
  border-left: solid 3px #110675;
  border-right: solid 3px #110675;
  box-shadow: 0 5px 25px;
  box-sizing: border-box;
}

header img {
  width: 290px;
  height: 95px;
  margin-left: 10px;
}

nav {
  background-color: #000000;
  margin: auto;
  width: 988.5px;
  height: 35px;
  border-top: solid 1px #110675;
  border-left: solid 3px #110675;
  border-right: solid 3px #110675;
  box-shadow: 0 5px 25px;
}

.buscador_contenedor {
  margin-top: 10px;
  margin-left: 10px;
}

.buscador_contenedor input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 2px;
  transform: translate(185px, -38px);
}

.buscador_contenedor button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(186px, -37px);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 130px;
}

li {
  margin-top: 7.5px;
}

ul li {
  display: inline-block;
  margin-left: 140px;
}

ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

li a:hover {
  color: #f7f19c;
}

.rellenito {
  background-color: white;
  margin: auto;
  width: 987.5px;
  height: 6px;
  transform: translate(0px, -30px);
  border-left: solid 3px #110675;
  border-right: solid 3px #110675;
  border-bottom: solid 3px #110675;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 25px;
}

.contenedor_servicios {
  background-color: white;
  width: 994px;
  height: 1844px;
  margin: auto;
  border: solid 3px #110675;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 25px;
  box-sizing: border-box;
  position: relative;
}

#encabezado_servicios {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1366bd;
  text-align: center;
  margin-bottom: 50px;
}

.encabezados_servicios {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1366bd;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.informacion_servicios {
  width: 550px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-family: 14px;
  text-align: justify;
  margin: auto;
  margin-bottom: 30px;
}

.macrojuegos_animacion img {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  border: solid 2px #1366bd;
  margin-top: 30px;
  margin-bottom: 100px;
  transform: translateX(192px);
}

footer {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

span a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

span a:hover {
  color: #f7f19c;
}