body {
  background-color: #132f6c;
}

.contenedor_validacion {
  background-color: white;
  width: 1000px;
  height: 1400px;
  margin: auto;
  margin-top: 50px;
  border: solid 3px #110675;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 25px;
  box-sizing: border-box;
  position: relative;
}

#encabezado_principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #1366bd;
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
